@font-face {
  font-family: 'zapete-font';
  src: url('../font/zapete-font.eot?94014093');
  src: url('../font/zapete-font.eot?94014093#iefix') format('embedded-opentype'),
       url('../font/zapete-font.woff2?94014093') format('woff2'),
       url('../font/zapete-font.woff?94014093') format('woff'),
       url('../font/zapete-font.ttf?94014093') format('truetype'),
       url('../font/zapete-font.svg?94014093#zapete-font') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'zapete-font';
    src: url('../font/zapete-font.svg?94014093#zapete-font') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "zapete-font";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-play:before { content: '\e800'; } /* '' */
.icon-pause:before { content: '\e801'; } /* '' */
.icon-rewind1:before { content: '\e802'; } /* '' */
.icon-rewind3:before { content: '\e803'; } /* '' */
.icon-forward3:before { content: '\e804'; } /* '' */
.icon-forward1:before { content: '\e805'; } /* '' */
.icon-pl_prev:before { content: '\e806'; } /* '' */
.icon-pl_next:before { content: '\e807'; } /* '' */
.icon-fullscreen:before { content: '\e808'; } /* '' */
.icon-play-pause:before { content: '\e809'; } /* '' */
.icon-note-beamed:before { content: '\e80a'; } /* '' */
.icon-search:before { content: '\e80b'; } /* '' */
.icon-flashlight:before { content: '\e80c'; } /* '' */
.icon-mail:before { content: '\e80d'; } /* '' */
.icon-star:before { content: '\e80e'; } /* '' */
.icon-video:before { content: '\e80f'; } /* '' */
.icon-camera:before { content: '\e810'; } /* '' */
.icon-direction:before { content: '\e811'; } /* '' */
.icon-folder:before { content: '\e812'; } /* '' */
.icon-print:before { content: '\e813'; } /* '' */
.icon-bell:before { content: '\f03f'; } /* '' */
.icon-connect:before { content: '\f1e6'; } /* '' */
